.controls-container {
  height: 100px;
  width: 100%;
  padding: 8px;
  border: solid 1px #ddd;
  /*display: flex;*/
  position: center;
}

.controls-input {
  font-size: 18px;
  margin-top: 15px;
  margin-right: 40px;
  margin-left: 10px;
  font-family: "Times New Roman", Times, serif;
}

.controls-button {
  height: 50px;
  margin-top: 15px;
  margin-right: 30px;
  width: 100px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.form-check {
  margin-right: 100px;
}

controls-check {
  margin: 8px;
}

.form-control-file {
}
